<ion-view view-title="Setting">
        <ion-pane>

            <ion-slides options="{autoplay:1000}">

                    <ion-slide-page>
                        <ion-content>
                            <h1>First Slide</h1>
                        </ion-content>
                    </ion-slide-page>

                    <ion-slide-page>
                        <ion-content>
                            <h1>second Slide</h1>
                        </ion-content>
                    </ion-slide-page>

            </ion-slides>

        </ion-pane>
</ion-view>
